[Unit]
Description=Nextcloud OnlyOffice Document Server
{% for service in nextcloud_onlyoffice_document_server_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill nextcloud-onlyoffice-document-server 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm nextcloud-onlyoffice-document-server 2>/dev/null'

ExecStart={{ devture_systemd_docker_base_host_command_docker }} run \
			--rm \
			--name=nextcloud-onlyoffice-document-server \
			--log-driver=none \
			--network={{ nextcloud_container_network }} \
			{% if nextcloud_onlyoffice_document_server_container_http_host_bind_port %}
			-p {{ nextcloud_onlyoffice_document_server_container_http_host_bind_port }}:80 \
			{% endif %}
			{{ nextcloud_onlyoffice_document_server_container_image }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill nextcloud-onlyoffice-document-server 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm nextcloud-onlyoffice-document-server 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=nextcloud-onlyoffice-document-server

[Install]
WantedBy=multi-user.target
