[Unit]
Description=Nextcloud Apache server
After=docker.service
Requires=docker.service
Requires=nextcloud-postgres.service
After=nextcloud-postgres.service
{% if nextcloud_goofys_external_storage_enabled %}
After=nextcloud-goofys.service
Requires=nextcloud-goofys.service
{% endif %}
{% if nextcloud_goofys_external_storage_enabled and nextcloud_goofys_external_storage_for_appdata_previews_enabled %}
After=nextcloud-goofys-appdata-preview.service
Requires=nextcloud-goofys-appdata-preview.service
{% endif %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ nextcloud_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/docker kill nextcloud-apache
ExecStartPre=-/usr/bin/docker rm nextcloud-apache
{% if nextcloud_goofys_external_storage_enabled %}
# Allow for some time before starting, so that external storage can mount.
# Mounting can happen later too, but if we start writing,
# we'd write files to the local filesystem and fusermount will complain.
ExecStartPre=/bin/sleep 5
{% endif %}
ExecStart=/usr/bin/docker run --rm --name nextcloud-apache \
			--log-driver=none \
			--network={{ nextcloud_docker_network }} \
			-v {{ nextcloud_nextcloud_data_path }}:/var/www/html \
			{% if nextcloud_goofys_external_storage_enabled %}
			-v {{ nextcloud_external_storage_path }}:{{ nextcloud_external_storage_path }}:slave \
			{% endif %}
			{% if not nextcloud_nginx_proxy_enabled %}
			-p 127.0.0.1:{{ nextcloud_apache_http_port_on_host }}:80 \
			{% endif %}
			{% if nextcloud_nextcloud_apache_container_memory_limit != '' %}
				--memory={{ nextcloud_nextcloud_apache_container_memory_limit }} \
			{% endif %}
			{% if nextcloud_nextcloud_apache_container_memory_swap_limit != '' %}
				--memory-swap={{ nextcloud_nextcloud_apache_container_memory_swap_limit }} \
			{% endif %}
			{{ nextcloud_nextcloud_docker_image }}
ExecStop=-/usr/bin/docker kill nextcloud-apache
ExecStop=-/usr/bin/docker rm nextcloud-apache
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
