[Unit]
Description=Nextcloud Postgres server
After=docker.service
Requires=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ nextcloud_systemd_unit_home_path }}"
ExecStartPre=-{{ nextcloud_host_command_docker }} stop nextcloud-postgres
ExecStartPre=-{{ nextcloud_host_command_docker }} rm nextcloud-postgres
ExecStartPre=-{{ nextcloud_host_command_mkdir }} {{ nextcloud_postgres_data_path }}
ExecStartPre=-{{ nextcloud_host_command_chown }} {{ nextcloud_user_uid }}:{{ nextcloud_user_gid }} {{ nextcloud_postgres_data_path }}

ExecStart={{ nextcloud_host_command_docker }} run --rm --name nextcloud-postgres \
			--log-driver=none \
			--user={{ nextcloud_user_uid }}:{{ nextcloud_user_gid }} \
			--network={{ nextcloud_docker_network }} \
			--env-file={{ nextcloud_environment_variables_data_path }}/env-postgres-server-docker \
			-v {{ nextcloud_postgres_data_path }}:/var/lib/postgresql/data \
			-v /etc/passwd:/etc/passwd:ro \
			{% for arg in nextcloud_postgres_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ nextcloud_postgres_docker_image_to_use }} \
			postgres {{ nextcloud_postgres_process_extra_arguments|join(' ') }}

ExecStop=-{{ nextcloud_host_command_docker }} stop nextcloud-postgres
ExecStop=-{{ nextcloud_host_command_docker }} rm nextcloud-postgres
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
