[Unit]
Description=Run the generate-preview app of Nextcloud
Wants=nextcloud-apache.service
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/nextcloud-preview-generator

[Install]
WantedBy=multi-user.target
