[Unit]
Description=Nextcloud Apache server
After=docker.service
Requires=docker.service
Requires=nextcloud-postgres.service
After=nextcloud-postgres.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill nextcloud-apache
ExecStartPre=-/usr/bin/docker rm nextcloud-apache
ExecStart=/usr/bin/docker run --rm --name nextcloud-apache \
			--link nextcloud-postgres:postgres \
			-v {{ nextcloud_nextcloud_data_path }}/config:/var/www/html/config \
			-v {{ nextcloud_nextcloud_data_path }}/custom_apps:/var/www/html/custom_apps \
			-v {{ nextcloud_nextcloud_data_path }}/data:/var/www/html/data \
			-v {{ nextcloud_nextcloud_data_path }}/themes:/var/www/html/themes \
			{{ docker_nextcloud_image }}
ExecStop=-/usr/bin/docker kill nextcloud-apache
ExecStop=-/usr/bin/docker rm nextcloud-apache
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
