[Unit]
Description=Nextcloud nginx proxy server
After=docker.service
Requires=docker.service
Wants=nextcloud-apache.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ nextcloud_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/docker kill nextcloud-nginx-proxy
ExecStartPre=-/usr/bin/docker rm nextcloud-nginx-proxy
ExecStart=/usr/bin/docker run --rm --name nextcloud-nginx-proxy \
			--log-driver=none \
			--network={{ nextcloud_docker_network }} \
			-p 80:80 \
			-p 443:443 \
			-v {{ nextcloud_nginx_proxy_confd_path }}:/etc/nginx/conf.d:ro \
			-v {{ nextcloud_ssl_config_dir_path }}:{{ nextcloud_ssl_config_dir_path }}:ro \
			{{ nextcloud_nginx_proxy_docker_image }}
ExecStop=-/usr/bin/docker kill nextcloud-nginx-proxy
ExecStop=-/usr/bin/docker rm nextcloud-nginx-proxy
ExecReload=/usr/bin/docker exec nextcloud-nginx-proxy /usr/sbin/nginx -s reload
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
