#!/bin/bash

set -e

echo "check if preview:generate-all has already finsihed"

if [[ -f {{ nextcloud_previewgenerator_lock_file_path }} ]]
then
	echo "{{ nextcloud_previewgenerator_lock_file_path }} exists -> run pre-generate"
	docker exec -u www-data nextcloud-apache php occ preview:pre-generate -vvv
else
	echo "{{ nextcloud_previewgenerator_lock_file_path }} does not exists -> run generate-all"
	docker exec -u www-data nextcloud-apache php occ preview:generate-all -vvv
	echo "create {{ nextcloud_previewgenerator_lock_file_path }} lock file"
	touch {{ nextcloud_previewgenerator_lock_file_path }}
fi
