---

- name: Fail if required nextcloud-nginx-proxy settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) for using this role.
  when: "vars[item] == ''"
  with_items:
    - nextcloud_nginx_proxy_ssl_support_email
