[Unit]
Description=Nextcloud OnlyOffice Document Server
After=docker.service
Requires=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ nextcloud_systemd_unit_home_path }}"
ExecStartPre=-{{ nextcloud_host_command_docker }} stop nextcloud-onlyoffice-document-server
ExecStartPre=-{{ nextcloud_host_command_docker }} rm nextcloud-onlyoffice-document-server
ExecStart={{ nextcloud_host_command_docker }} run --rm --name nextcloud-onlyoffice-document-server \
			--log-driver=none \
			--network={{ nextcloud_docker_network }} \
			{% if not nextcloud_nginx_proxy_enabled %}
			-p 127.0.0.1:{{ nextcloud_onlyoffice_document_server_http_port_on_host }}:80 \
			{% endif %}
			{{ nextcloud_onlyoffice_document_server_docker_image }}
ExecStop=-{{ nextcloud_host_command_docker }} stop nextcloud-onlyoffice-document-server
ExecStop=-{{ nextcloud_host_command_docker }} rm nextcloud-onlyoffice-document-server
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
